body {
  margin: 0;
}

header {
  min-height: 90vh;
  background-color: #123;
  color: #fafafa;
  padding: 1em;
  box-sizing: border-box; 
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/** sigh okay so the flex display isn't aligning my items in the center and since I don't have any debugging tools (typing on my phone and all), I have to manually change properties till I figure out what the problem is. Which is great (read:gross) */
/** also, is this how to write a comment in CSS? You know, now that I think about it, I realize I included a comment inside the CSS rule declaration above and that's probably where my error is coming from so lemme take that out.*/

/** okay wait, I think this is how comments are written */

/** ah right so I was wondering why my elements in header weren't being vertically aligned even though I used align-items, then I realized I changed the flex-direction so that changed the orientation of align-items and justify-content. Isn't manual debugging a hoot. */

header h1,
header h2, 
header p {
  text-align: center;
}

#posts {
  padding: 2em 1em;
}

.post-container {
  margin: 0.5em;
  padding: 1em;
  border: 1px solid;
  border-radius: 2px;
}

