body {
  margin: 0;
}

header {
  min-height: 75vh;
  background-color: #fafafa;
  padding: 1em;
  box-sizing: border-box; //just realized I've never typed this without that auto-suggest thing. Lol cool
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.post-container {
  margin: 0.5em;
  padding: 1em;
  border: 1px solid;
  border-radius: 2px;
}
